.factuurinfo > span:first-child {
    width: 300px;
    display: inline-block;
    font-weight: bold;
}
.header > h2 {
    display: inline-block;
}
.header > span {
    margin-top: 0;
    padding-top: 20px;
    padding: 0;
    color: rgba(0,0,0,.54);
    font-size: 30px;
}
.btn {
    float:right;
    margin-left: 10px;
}