/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Feb-2018, 09:39:48
    Author     : Rowan
*/

/* ================== */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 13px;
}
body {
    background: url('../img/page.jpg') no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.limit-2 {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.front-card {
    margin: auto;
    width: 1000px;
    height: 400px;
    margin-top : 75px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
}
.form-card, .intro-card {
    display:inline-block;
    margin: 0;
    padding: 0 25px;
    color: white;
    position: absolute;
    top: 50px;
}
.intro-card {
    width: 600px;
    height: 305px;
}
.form-card {
    width: 285px;
    right: 0;
}

/* ================== */
.intro-card h3 {
    font-size: 25px;
}

.intro-card p {
    font-size: 20px;
}


/* ================== */
.form-register,
.form-signin {
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}

.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.input-group > *{
    display: inline-block;
}
.input-group-addon {
    width: 20px;
    color: white;
}
.form-register input,
.form-signin input {
    border: 1px solid #bbb;
    color: #000;
    padding: 4px;
    outline: 0;
    background-color: #eee;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    
    width: 200px;
}
.input-group-addon + .form-control {
    width: 228px;
}
input::placeholder { /* Most modern browsers support this now. */
    color: #aab8c2;
    text-overflow: ellipsis!important
}


/* ================== */
.form-register .input-group-addon + .form-control {
    width: 228px;
}
.form-register input{
    width: 252px;
}
.ds {
    margin-bottom: 10px;
}


/* ================== */
.fail {
    background: #c59292;
    border: 1px solid #b75757;
    color: maroon;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0;
    line-height: 12px;
}

body {
    background: #1998ff;
    background: radial-gradient(ellipse at center, #1998ff 0%, #5ae6ff 100%);
    max-height: 100vh;
  }
  
  #stars {
     display: block;
     position: absolute;
     width: 100%;
     height: 100vh;
     z-index: -1;
     top: 0;
  }
  
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #fff3d1;
}

header div > div {
    display: inline-block;
    height: 100%;
}
header div img {
    height: 100%;
    line-height: 45px;    
    vertical-align: middle;
    padding-right: 5px;
    height: 30px;
}

header a{
    display: inline-block;
    height: 100%;
    margin: 0 11px;
    font-weight: bold;
}
.logo + a {
    margin-left: 0;
}

header a,
header a:active,
header a:visited {
    color: #fff3d1;
    text-decoration: none;
}
header a:hover {
    color: #fff491;
    text-decoration: none;
}

header .link {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;
    -ms-transition: box-shadow .1s linear;
    -o-transition: box-shadow .1s linear;
    transition: box-shadow .1s linear;
    
    -webkit-box-shadow:inset 0 0 0 0 #fff491;
    -moz-box-shadow:inset 0 0 0 0 #fff491;
    box-shadow:inset 0 0 0 0 #fff491;
}

header .link:hover {
    -webkit-box-shadow:inset 0 -4px 0 0 #fff491;
    -moz-box-shadow:inset 0 -4px 0 0 #fff491;
    box-shadow:inset 0 -4px 0 0 #fff491;
}
header .link:hover a {
    color: #fff491;
}


/* === hr === */
.hr{
    text-align: center;
}


/* === btn === */
.btn {
    background: #1c94e0;
    color: #fff;
    border: 1px solid #224499;
    padding: 7px;
}

.btn:hover {
    border-color: #1c94e0;
    cursor: pointer;
}

.hidden {
    display: none;
}