html {
    height: 100vh;
    width: 100vw;
    display: table;
    background: #4285F4;
    background: linear-gradient(141deg, #0fa4b8 0%, #1f90db 51%, #4285F4 75%);
}
.green {
  color: #1aa157;
}
#darkener {
  background: none;
}
#uninterested {
  background: none;
  color: #7d7d7d;
  border: 1px solid #fff;
}
#uninterested:hover {
  color: #222;
  border: 1px solid #eee;
}
.dynamictable {
  text-align: left;
  font-weight: bold;
}
.dynamictable th {
  width: 150px;
}
.red {
  color: #b82020;
}

body {
    vertical-align: middle;
    display: table-cell;
}

.centered {
  margin: auto;
}
.btns {
  text-align: right;
}
.btns > * {
  width: 120px;
  margin-left: 20px;
}