#login,
#register {
    max-width: initial;
    min-width: initial;
}
.modal {
    background: white;
    margin: auto;
    width: 75%;
    max-width: 700px;
    min-width: 400px;
    padding: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 0px;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
}

.iframe-modal .modal {
    width: 100%;
    max-width: 10000px;
    height: initial;
    box-shadow: 0 0 0;
}
.modal a,
.modal p {
    padding: 8px;
    line-height: 21px;
    padding-left: 25px;
}
.iframe-modal {
    height: initial;
    width: initial;
    position: static;
    display:initial;
}
.iframe-modal body::after,
.iframe-modal body::before,
.iframe-modal body {
    width: initial;
    position: static;
    content:'';
    display:initial;
}
.iframe-modal body {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    background: #fff;
}
.iframe-modal body::after,
.iframe-modal body::before {
    width: 0;
    min-width:0;
}
a {
    color: #00a;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    color: #00f;
}
.darkener {
    display: flex;
    align-items: center;
    vertical-align: middle;
    opacity: 1;
    background: rgba(0,0,0,0.3);
}

.modal .t-two-inline input.wrong {
    border: 1px solid #f00;
}

.modal .t-two-inline label {
    width:160px;
}
.modal .t-two-inline input,
.modal .t-two-inline select {
    width:250px;
    border: 1px solid #b8b8b8;
    margin: 0;
}
.modal .map {
    width:100%;
    height:100%;
    max-height: 300px;
    padding: 20px;
    position: relative;
}
.modal #map {
    width: 100%;
    height: 100%;
}

.modal .t-two-inline {
    width: initial;
    margin: auto;
}

.modal h2,
.modal h3,
.modal h4,
.contents .modal h2,
.contents .modal h3,
.contents .modal h4 {
        padding: 0 24px 5px;
}

.modal .btn {
    margin: 10px;
    margin-left: 0;
    width: 120px;
    float:right;
}

.modal::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\A";
    clear: both;
    height: 0;
}


/*PORTAL*/
.main {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-height: 100%;
}
@media (min-height: 900px)
{
    .main {
        
    }
}

.main > div {
    margin: 20px;
    padding: 20px;
    width: 45%;
    min-width: 400px;

    min-height: 250px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.main > div > p,
.main > div > h2,
.main > div > h3,
.main > div > h4 {
    display: block;
}

.note {
    color: #999;
}