.modal {
    background: white;
    margin: auto;
    width: 75%;
    max-width: 750px;
    min-width: 400px;
    padding: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 0px;
}

.iframe-modal .modal {
    width: initial;
}

.iframe-modal {
    height: initial;
    width: initial;
    position: static;
    display:initial;
}
.iframe-modal body::after,
.iframe-modal body::before,
.iframe-modal body {
    height: initial;
    width: initial;
    position: static;
    content:'';
    display:initial;
}

.darkener {
    display: flex;
    align-items: center;
    vertical-align: middle;
    opacity: 1;
    background: rgba(0,0,0,0.3);
    padding: 10px;
}

.wrong {
    border: 1px solid #f00;
    margin: 3px 0;
}

.modal .t-two-inline label {
    width:150px;
}
.modal .t-two-inline input {
    width:250px;
}

.modal .t-two-inline {
    width: initial;
    margin: auto;
}

.modal .btn {
    margin: 10px;
    margin-left: 0;
    width: 120px;
    float:right;
}

.modal::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\A";
    clear: both;
    height: 0;
}