.auto-box {
    width: 50%;
    max-width: 45%;
    min-width: 250px;
    margin: auto;
    margin-top: 10px;
}

.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.car-box {
    background: #4285F4;
    text-align: right;
}
.car-box img {
    margin-right: 8px;
    height: 25px;
}
.details-box {
    background: #fff;
    padding: 10px;
}
.details-box .btn {
    margin-right: 5px;
    width: 100px;
    display:inline-block;
}
.details-box h3 {
    margin-top: 10px;
}
.details-box .divider {
    margin-bottom: 5px;
}

p > p {
    display: table-cell;
}
p > p:first-child {
    width:40%;
    font-weight:bold;
}
.details-box > p {
    display:table;
    width: 100%;
}