.auto-box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 400px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    display: table;
}

.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.auto-box img {
    height: 50px;
}

.inline-block {
    display: table-cell;
}